<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>cliente</servlet-name>
        <servlet-class>Control.ClienteControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>produto</servlet-name>
        <servlet-class>Control.ProdutoControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>usuario</servlet-name>
        <servlet-class>Control.UsuarioControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>venda</servlet-name>
        <servlet-class>Control.VendaControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>relatorio</servlet-name>
        <servlet-class>Control.RelatorioControl</servlet-class>
    </servlet>
    <servlet-mapping>  
        <servlet-name>cliente</servlet-name>
        <url-pattern>/cliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping> 
        <servlet-name>produto</servlet-name>
        <url-pattern>/produto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping> 
        <servlet-name>usuario</servlet-name>
        <url-pattern>/usuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping> 
        <servlet-name>venda</servlet-name>
        <url-pattern>/venda.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping> 
        <servlet-name>relatorio</servlet-name>
        <url-pattern>/relatorio.do</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>/AutenticacaoLogin.jsp</welcome-file>
    </welcome-file-list>
</web-app>
